*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(48, 10, 119);
}
.head2 {
    background-color: white;
    padding: 1opx;
    display: flex;
}
.head2 a {
    text-decoration: none;
    margin-left: 50px;
    margin-top: 9px;
    color: black;

}
.head2 h1 {
    margin-left: 20px;
}
.head3 a {
    margin-left: 80%;
    color: black;
}
.head3 {
    margin-top: -20pt;
}
.head4 a {
    margin-left: 85%;
    text-decoration: none;
    color: black;
    background-color: rgb(79, 13, 202);
    padding: 5px;
    border-radius: 15px;
}
.head4 {
    margin-top: -21px;
}

.content1 {
    text-align: center;
    margin-top: 6%;
}
.content2 h1 {
    font-size: 90px;
    color: white;
}
.content3 p {
    font-size: 15px;
    color: white;
}
.content4 a {
    font-size: 20px;
    
    text-decoration: none;
    color: black;
    padding: 20px;
    background-color: white;
    border-radius: 35px;
}
.content4 {
    margin-top: 30px;
}
